
*.xml
*.iml
*.xml
*.iml
.idea/Hulu-Subs-Downloader.iml
*.xml
*.pyc
.idea/Hulu-Subs-Downloader.iml

/dist/*
/build/*
*.manifest
*.toc
*.pkg
*.pyz
build/HuluSubsDownloader/warnHuluSubsDownloader.txt
build/HuluSubsDownloader/xref-HuluSubsDownloader.html
*.spec
.idea/workspace.xml
*.xml
ReadMe.txt
setup - Copy.py
hulusubs_dl/.cookie
hulusubs_dl/.config
*.pyc
hulusubs_dl/venv/*
hulusubs_dl/__pycache__/*

*.pyc
hulusubs_dl.egg-info/*
hulusubs_dl/cust_utils/__pycache__/*
hulusubs_dl/cust_utils/__pycache__/utils.cpython-37.pyc
hulusubs_dl/cust_utils/__pycache__/browser_instance.cpython-37.pyc
hulusubs_dl/build/*
hulusubs_dl/dist/*
