
*.xml
*.iml
*.xml
*.iml
.idea/Hulu-Subs-Downloader.iml
*.xml
.idea/Hulu-Subs-Downloader.iml

/dist/*.*
*.manifest
*.toc
*.pkg
*.pyz
build/HuluSubsDownloader/warnHuluSubsDownloader.txt
build/HuluSubsDownloader/xref-HuluSubsDownloader.html
*.spec
