
*.xml
*.iml
*.xml
*.iml
.idea/Hulu-Subs-Downloader.iml
*.xml
*.pyc
.idea/Hulu-Subs-Downloader.iml

/dist/*
/build/*
*.manifest
*.toc
*.pkg
*.pyz
build/HuluSubsDownloader/warnHuluSubsDownloader.txt
build/HuluSubsDownloader/xref-HuluSubsDownloader.html
*.spec
.idea/workspace.xml
*.xml
ReadMe.txt
setup - Copy.py
hulu_subs_dl/.cookie
hulu_subs_dl/.config
*.pyc
hulu_subs_dl/venv/*
hulu_subs_dl/__pycache__/*

*.pyc
hulusubs_dl.egg-info/*
hulu_subs_dl/cust_utils/__pycache__/*
hulu_subs_dl/cust_utils/__pycache__/utils.cpython-37.pyc
hulu_subs_dl/cust_utils/__pycache__/browser_instance.cpython-37.pyc
